*,
::after,
::before{
  margin: 0;
  padding: 0;
}

body{
  background-color: #eee;
}

.App {
  text-align: center;
}

.title{
  padding: 30px;
  text-transform: uppercase;
  color: #000000;
}

.container{
  width: 300px;
  margin: 100px auto;
  background-color: black;
  border: 3px  solid coral;
  border-radius: 8px;
  padding: 50px;
  box-shadow: 3px 5px 18px 8px rgb(5, 22, 27);
}

.container:hover{
  
  cursor: pointer;
}

.text{
  margin-bottom: 40px;
  text-transform: uppercase;
  color: coral;
  font-weight: 700;
}

button{
  border: none;
  background-color: coral;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
  padding: 8px;
  border-radius: 50px;
}
